# Default ignored files
/../../Methods_of_selecting_variables_in_logistic_regression_models /.idea/shelf/
/../../Methods_of_selecting_variables_in_logistic_regression_models /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Methods_of_selecting_variables_in_logistic_regression_models /.idea/httpRequests/
# Datasource local storage ignored files
/../../Methods_of_selecting_variables_in_logistic_regression_models /.idea/dataSources/
/../../Methods_of_selecting_variables_in_logistic_regression_models /.idea/dataSources.local.xml
